<h4 style="text-align: center; margin-bottom: 15px">Параметры раскроя:</h4>
<h4><small>Листов в раскрое:</small> {{ in_list }}</h4>
<h4><small>Всего деталей:</small> {{ in_count }}</h4>
<h4><small>Длина реза (мм):</small> {{ in_lenrez }}</h4>
<h4><small>Длина кромки:</small></h4>
<h4><small class="x2">толщиной 2 мм:</small> {{ in_len2 }}</h4>
<h4><small class="x2">толщиной 0.4 мм:</small> {{ in_len04 }}</h4>
<h4><small class="x2">толщиной 0.8 мм:</small> {{ in_len08 }}</h4>
<h4><small>Приблизительная стоимость (руб)*:</small> {{ in_coast }}</h4>
<button id="ordersaw" type="button" class="btn">Заказать распил</button>
{% comment %}<button id="printsaw" type="button" class="btn">Печать</button>{% endcomment %}
<h4 style="margin-top: 20px"><small class="x2">* Указанная цена может отличаться от конечной.</small></h4>