{% extends "index.html" %}

{% load staticfiles %}
{% load l10n %}
{% load i18n %}

{% block page %}
    <div>
        <noscript><h2 style="font-family: Roboto sans-serif; z-index: 2; padding-right: 240px"><b><div style="color: #912430; text-align: center;">Для работы сайта необходимо включить JavaScript в Вашем браузере</div></b></h2></noscript>
        <input type="hidden" id="material_uid" value="{{ material.id }}">
        <input type="hidden" id="edge_uid" value="{{ edge.id }}">
        <div class="top_menu"><h4><small>Лист:</small> {{ material.title }} {{ material.depth }} мм</h4></div>
        <div class="top_menu"><h4><small>Размеры листа (мм):</small> {{ material.width }} x {{ material.height }}</h4></div>
        <div class="top_menu"><h4><small>Цена за лист (руб):</small> {{ material.cost }}</h4></div>
        <div class="top_menu"><a href="/material/" class="material_link">К выбору листа</a> <a class="help_link" href="/help/" title="Помощь" target="_blank">?</a></div>
    </div>

    <div class="row1">
        <div class="column-1">
            <h3 class="alarm">Внимание! Указывайте конечные размеры деталей!
                (допуски для кромки - высчитываются автоматически) Если у Вас не отобразилась форма заказа,
                нажмите ctrl + F5</h3>
            <table class="table table-hover">
                <thead><tr>
                    <th style="width: 115px">Длина (мм)</th>
                    <th style="width: 115px">Ширина (мм)</th>
                    <th>Количество</th>
                    <th>Структура</th>
                    <th style="text-align: center">Кромка</th>
                    <th style="width: 112px; text-align: center">Действия</th>
                </tr></thead>
                <tbody id="saws_rows">
                {% for rec in rows %}
                    {% include "raspil/row_saw.html" %}
                {% endfor %}
                {% include "raspil/row_saw.html" %}
                </tbody>
            </table>
        </div>

        <div class="column-2">
            {% if calculated %}
                {% include "raspil/column_stat.html" %}
            {% else %}
                {% include "raspil/column_preorder.html" %}
            {% endif %}
        </div>
    </div>

{% endblock %}